{% extends 'base_nav_user.html' %}

{% block meta %}
<title>Homepage</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        {% if request.user.is_authenticated %}
        <h1 class="text-center">Hello {{ request.user.first_name }}</h1>
        {% comment "lelangcreatelelang" %}1 hanya placeholder, harusnya itu adalah id galang dana{% endcomment %}
        <a href="{% url 'resipien:daftar' %}"><button type="button" class="btn btn-primary">Buat Lelang</button></a>
        {% else %}
        <h1 class="text-center">Hello world</h1>
        <a href="{% url 'general_user:register' %}"><button type="button" class="btn btn-primary">Sign-Up Now</button></a>
        {% endif %}
    </div>
</div>

{% endblock content %}