{% extends 'base_nav_user.html' %}

{% block meta %}
<title>Homepage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock meta %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            loadData();
            $('#myGalang').click(function(){
                $.get(`/general_user/galang/json`, function(data) {
                    for (var i = 0; i < data.length; i++) {
                        $(`#grid_card`).append(card_galang(data[i]));
                    }
                });
            })
            $('#myLelang').click(function(){
                $.get(`/general_user/lelang/json`, function(data) {
                    for (var i = 0; i < data.length; i++) {
                        $(`#grid_card`).append(card_lelang(data[i]));
                    }
                });
            })
        });

        function detailGalang(id) {
            $.ajax
        }
        function deleteCard(id) {
            $.ajax({
                url: `/todolist/delete/${id}`,
                type: 'DELETE',
                success: function (result) {
                    $(`#task-${id}`).remove()
                }
            });
        }

        function updateCard(id) {
            $.ajax({
                url: `/todolist/update/${id}`,
                type: 'PATCH',
                success: function (data) {
                    $(`#task-${id}`).empty()
                    $(`#task-${id}`).append(
                      `<div class="rounded overflow-hidden shadow-lg">
                        <div class="font-bold text-xl mb-2">${data.fields.title}</div>
                        <div class="font-semibold text-sm mb-2">${data.fields.date}</div>
                        <p class="text-gray-700 text-base">${data.fields.description}</p>
                        <div class="font-semibold text-sm mb-2">{% if data.fields.is_finished %} Selesai {% else %} Belum Selesai {% endif %}</div>
                        <button onclick="updateCard(${data.pk})">Update Task</a></button>
                        <button onclick="deleteCard(${data.pk})">Delete Task</a></button>
                      </div>`
                    )
                }
            });
        }

        const card_lelang = (data) =>
        `<div class="max-w-sm" id="lelang-${data.pk}">
            <div class="rounded overflow-hidden shadow-lg">
              <div class="font-bold text-xl mb-2">${data.fields.title}</div>
              <div class="font-semibold text-sm mb-2">${data.fields.date}</div>
              <p class="text-gray-700 text-base">${data.fields.description}</p>
              <div class="font-semibold text-sm mb-2">{% if data.fields.is_finished %} Selesai {% else %} Belum Selesai {% endif %}</div>
              <button id="update" onclick="updateCard(${data.pk})">Update Task</a></button>
              <button id="delete" onclick="deleteCardCard(${data.pk})">Delete Task</a></button>
            </div>
          </div>`
        
        const card_galang = (data) =>
        `<div class="max-w-sm" id="galang-${data.pk}">
            <div class="rounded overflow-hidden shadow-lg">
              <div class="font-bold text-xl mb-2">${data.fields.judul}</div>
              <div class="font-semibold text-sm mb-2">${data.fields.tujuan}</div>
              <p class="text-gray-700 text-base">${data.fields.description}</p>
              <div class="font-semibold text-sm mb-2">{% if data.fields.is_finished %} Selesai {% else %} Belum Selesai {% endif %}</div>
              <button type="button" class="p-1 bg-black rounded-lg w-full text-white font-bold" data-bs-toggle="modal" data-bs-target="#myModal">Detail</button>
            </div>
          </div>`

        function loadData() {
            $.get(`/todolist/json`, function (data) {
                for (var i = 0; i < data.length; i++) {
                    $(`#grid_card`).append(card(data[i]));
                }
            });
        }
    </script>
</head>
<div class="container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        {% if request.user.is_authenticated %}
        <h1 class="text-center" style="margin-top: 200px;">Hello {{ request.user.first_name }}</h1>
        <button type="button" class="btn btn-primary" id="myLelang">Show My Lelang</button>
        <button type="button" class="btn btn-primary" id="myGalang">Show My Donation</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#galang-">
            Launch static backdrop modal
        </button>
        <div class="card" style="width: 90%; margin-top: 20px;">
            <div class="card-body">
                <div class="grid gap-4 grid-cols-1 sm:grid-flow-cols-1 md:grid-cols-3 lg:grid-cols-4 m-4" id="todo">
                    <div class="max-w-sm" style="width: 300px" id="galang-${data.pk}">
                        <div class="rounded overflow-hidden shadow-lg">
                          <div style="font-weight: bold; font-size: 20px">Judul</div>
                          <div class="font-semibold text-sm mb-2">${data.fields.tujuan}</div>
                          <p class="text-gray-700 text-base">${data.fields.description}</p>
                          <div class="font-semibold text-sm mb-2">{% if data.fields.is_finished %} Selesai {% else %} Belum Selesai {% endif %}</div>
                          <button type="button" class="p-1 bg-black rounded-lg w-full text-white font-bold" data-bs-toggle="modal" data-bs-target="#myModal">Detail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h1 class="text-center">Hello world</h1>
        <button type="button" class="btn btn-primary"><a href="{% url 'general_user:register' %}" style="text-decoration: none; color: white;">Sign-Up Now</a></button>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="galang-" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold fs-2" id="staticBackdropLabel">Judul</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img style="width:200px; height: auto;"alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png">
            <div class="fw-bold">Deskripsi</div>
            <div class="font-semibold text-sm mb-2">${data.fields.deskripsi}</div>
            <div class="fw-bold">Tujuan</div>
            <div class="font-semibold text-sm mb-2">${data.fields.tujuan}</div>
            <div class="fw-bold">Tanggal Pembuatan</div>
            <div class="font-semibold text-sm mb-2">${data.fields.tujuan}</div>
            <div class="fw-bold">Tanggal Berakhir</div>
            <div class="font-semibold text-sm mb-2">${data.fields.tujuan}</div>
            <div class="fw-bold">Terkumpul</div>
            <div class="font-semibold text-sm mb-2">${data.fields.tujuan}</div>
            <div class="fw-bold">Target</div>
            <div class="font-semibold text-sm mb-2">${data.fields.tujuan}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}