body{
    background-color: rgb(192, 244, 226);
    font-family: 'Ubuntu', sans-serif;
}

.bg-primary {
    background-color: cadetblue !important;
}

#nav-bar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}