{% extends 'base_nav_user.html' %}

{% load static %}

{% block meta %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/resipien.css' %}">

<title>Buat Galang Dana</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

</script>

{% endblock meta %}


{% block content %}


<table style="width:100%">
    <tr>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
      <th>1</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    <tr>
        <th>{{galang.judul}}</th>
        {% if galang.gambar %}
          <th><img src="{{ galang.gambar.url}}"  style="max-height:300px"></th> 
        {% else %}
          <th>No Picture Available</th> 
        {% endif %}
        <th>{{galang.deskripsi}}</th>
        <th>{{galang.target}}</th>
        <th>{{galang.tujuan}}</th>
        <th>{{galang.tanggal_pembuatan}}</th>
        <th>{{galang.status_keaktifan}}</th>
    </tr>
  </table>
  
{% endblock content %}
