/* FAQ HTML */

.break {
    display: block;
    padding: 5px;
}

/* Things about FAQ's accordions */
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.accordion {
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    transition: 0.4s;
    box-shadow: rgba(26, 26, 26, 0.35) 0px 5px 10px;
}

.umum {
    background-color: #478974;
}

.umum.active, .umum:hover {
    background-color: #207a5e;
}

.lelang {
    background-color: #70d49b;
}

.lelang.active, .lelang:hover {
    background-color: #42c37a;
}

.galang {
    background-color:#21ab89;
}

.galang.active, .galang:hover {
    background-color:#0e906f;
}

.panel {
    padding: 0 18px;
    background-color: rgb(217, 219, 221);
    color:rgb(31, 31, 31);
    max-height: 0;
    border: 0.5rem;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: rgba(26, 26, 26, 0.35) 0px 5px 10px;
}

.accordion:after {
    font: var(--fa-font-solid);
    content: '\f078'; 
    color:rgb(255, 255, 255);
    font-size: 18px;
    float: right;
    margin-left: 5px;
}

.accordion.active:after { 
    font: var(--fa-font-solid); 
    font-size: 18px;
    content: '\f077' ;
    color:rgb(255, 255, 255);
}

/* PERTANYAAN MASUK HTML (msh ccd) */ 
.card {
    box-shadow: rgba(27, 27, 27, 0.35) 0px 5px 15px;
}

.card:hover {
    box-shadow: rgba(27, 27, 27, 0.35) 0px 5px 15px;
}

.btn-toolbar {
    display: block;
    width: 100%;
}

.btn {
    box-shadow: rgba(88, 88, 88, 0.35) 2px 2px 2px;
}

.judul-page {
    border-radius:100px; 
    width:fit-content;
    border:rgb(77, 162, 105);
}

.btn-ijo {
    background-color: rgb(77, 162, 105);
}

/* #btn-answer {
    display: inline-block;
    width: 50%;
}

#btn-delete {
    display: inline-block;
    width: 50%;
} */
