{% extends 'base_rincian.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'lelang/style.css' %}">
{% endblock meta %}

{% block content %}
{% load crispy_forms_tags %}
<h2 class="text-center mt-3">{{ item.nama_barang }}</h2>
<div class="container-lg mt-5 px-5">
    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-lg-2">
        <div class="col-md-6 d-flex justify-content-center align-items-center" style="border: 1px solid rgb(202, 200, 200);">
            <img src="\lelang{{ item.gambar.url }}" alt="{{ item.nama_barang }}" style="max-width: 100%;max-height: 100%;object-fit: cover;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between lelang">
                    <span>Bid Tertinggi:</span>
                    {% load humanize %}
                    <div>
                        {% if bid_tertinggi == None %}
                        <h4><strong>Rp{{ item.starting_bid|intcomma }}</strong></h4>
                        <span class="float-end text-muted">Harga Awal</span>
                        {% else %}
                        <h4><strong>Rp{{ bid_tertinggi.banyak_bid|intcomma }}</strong></h4>
                        <span class="float-end text-muted">Oleh {{ bid_tertinggi.user.user.username }}</span>
                        {% endif %}
                    </div>
                    
                </div>
                <div class="d-flex justify-content-between lelang">
                    <span>Lelang Berakhir Dalam:</span>
                    {% load humanize %}
                    <span>{{ item.tanggal_berakhir|timeuntil }} | <span class="text-muted">{{ item.tanggal_berakhir }}</span></span>
                </div>
                <form method="POST" action="{% url 'lelang:bid_barang_lelang' item.pk %}" style="padding: 30px 0;">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="container text-center mt-3">
                        <button type="submit" class="btn btn-primary w-100">Bid</button>
                    </div>
                </form>
                <div class="d-flex justify-content-between lelang">
                    <span>Kategori:</span>
                    <strong>{{ item.get_kategori_barang_display }}</strong>
                </div>
                <div class="d-flex justify-content-between lelang">
                    <span>Lelang Dibuat Oleh:</span>
                    <span>{{ item.pelelang.user.username }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2">
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-between lelang">
                <h4>Detail Penggalang Dana Tujuan</h4>
                <ul>
                    <li>Digalang oleh {{ item.galang_dana_tujuan.penggalang.user.first_name }} {{ item.galang_dana_tujuan.penggalang.user.last_name }}</li>
                    <li>Dengan tajuk <strong>"{{ item.galang_dana_tujuan.judul }}"</strong></li>
                </ul>
                <button type="button" class="btn btn-primary"><a href="{% url 'general_user:homepage' %}" style="text-decoration: none; color: white;">Lihat Detail Galang Dana</a></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-between lelang">
                <h4>Deskripsi</h4>
                <p style="word-wrap: break-word;">
                    {{ item.deskripsi }}
                </p>
                
            </div>
        </div>
    </div>
    <div class="container mt-5 komentar">
        <h3>Kolom Komentar</h3>
        {% for komentar in semua_komentar %}
            <h5>{{ komentar.user.user.username }}</h5>
            <span class="float-end">{{ komentar.waktu_ditambahkan|timesince }} lalu</span>
            <p>{{ komentar.teks }}</p>
            <br style="border-bottom:1px solid solid rgb(202, 200, 200);">
        {% endfor %}
        <form method="POST" action="{% url 'lelang:komentar_barang_lelang' item.pk %}">
            {% csrf_token %}
            {{ form_komentar|crispy }}
            <div class="container text-center mt-3">
                <button type="submit" class="btn btn-primary">Tambah Komentar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}