{% extends 'base_rincian.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'lelang/style.css' %}">
{% endblock meta %}

{% block content %}
{% load crispy_forms_tags %}
<h1 class="text-center mt-3">{{ item.nama_barang }}</h1>
<div class="container-lg mt-5 px-5">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2">
        <div class="col-md-6" style="border: 1px solid rgb(202, 200, 200);">
            <img src="\lelang{{ item.gambar.url }}" alt="{{ item.nama_barang }}" style="width: 100%;height: 100%;object-fit: cover;">
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between lelang">
                    <span>Bid Tertinggi:</span>
                    {% load humanize %}
                    <h4><strong>Rp{{ item.starting_bid|intcomma }}</strong></h4>
                </div>
                <div class="d-flex justify-content-between lelang">
                    <span>Lelang Berakhir Dalam:</span>
                    {% load humanize %}
                    <span>{{ item.tanggal_berakhir|timeuntil }} | <span class="text-muted">{{ item.tanggal_berakhir }}</span></span>
                </div>
                <form method="POST" style="padding: 30px 0;">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="container text-center mt-3">
                        <button type="submit" class="btn btn-primary w-100">Bid</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2">
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-between lelang">
                <h4>Detail Penggalang Dana Tujuan</h4>
                <ul>
                    <li>Digalang oleh {{ item.galang_dana_tujuan.penggalang.user.first_name }} {{ item.galang_dana_tujuan.penggalang.user.last_name }}</li>
                    <li>Dengan tajuk <strong>"{{ item.galang_dana_tujuan.judul }}"</strong></li>
                </ul>
                <button type="button" class="btn btn-primary"><a href="{% url 'general_user:homepage' %}" style="text-decoration: none; color: white;">Lihat Detail Galang Dana</a></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-between lelang">
                <h4>Deskripsi</h4>
                <p style="word-wrap: break-word;">
                    {{ item.deskripsi }}
                </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}