{% extends 'base_list_of_card.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'lelang/style.css' %}">
<script src="{% static 'lelang/js/script_index.js' %}" type="text/javascript"></script> 
{% endblock meta %}

{% block content %}
<div class="container bg-trasparent my-4 p-3 " style="position: relative;">
    <div class="p-3 mb-5" style="border-bottom:1px solid rgb(202, 200, 200);">
        <h1 class="display-6 text-center ">Daftar Barang Lelang</h1>
        <div class="dropdown" id="dropdown-kategori">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kategori
            </button>
            <ul class="dropdown-menu">
                {% for kategori in daftar_kategori %}
                <li><button type="button" class="dropdown-item">{{kategori}}</button></li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-5" id="container-index-lelang">
    </div> 
</div> 
{% endblock content %}