{% extends 'base_nav_user.html' %}

{% load static %}
{% load crispy_forms_tags %}
    
{% block meta %}
<title>FAQ</title>

<link rel="stylesheet" href="{% static 'faq.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script type="text/javascript" src="{% static 'faq.js' %}"></script>

{% endblock meta %}

{% block content %}

<div class="container-fluid" style="position:relative">
  <div class="d-flex flex-column align-items-center vh-100">

    <div class="container" id="header" style="padding:50px">
      <center><div class="card judul-page">
        <div class="card-body">
          <h1 class="text-center" style="padding-inline:15px; padding-block:10px;">Frequently Asked Questions</h1>
        </div>
      </div></center>

      <!-- <div class="dropdown align-items-center">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>

        <ul class="dropdown-menu">
          <li><button type="button" class="dropdown-item">Umum</button></li>
          <li><button type="button" class="dropdown-item">Lelang</button></li>
          <li><button type="button" class="dropdown-item">Galang</button></li>
        </ul>
      </div> -->

    </div>

      <!-- Displaying FAQ -->
      <div class="container" id="display-faq"></div>   
    

      <div class="container" id="container-ending">

        {% if request.user.is_authenticated and request.user.is_staff %}
          <div class="move-page" style="padding:50px;">
          <center><button type="button" class="btn btn-success btn-lg">
            <a href="{% url 'customer_service:pertanyaan_masuk' %}" style="text-decoration: none; color: white;">
            Klik untuk menjawab pertanyaan-pertanyaan yang masuk!
          </a></button></center></div>
     
      
        {% elif request.user.is_authenticated and request.user.is_staff == False %}
          <div class="move-page" style="padding:25px;">
            <center><button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modalPertanyaan" style="align-content:center; margin:50px">
            Tanya di sini!</button></center></div>

          <!-- MODAL -->
          <div class="modal fade" id="modalPertanyaan" tabindex="-1" aria-labelledby="modalPertanyaanLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title fs-5" id="modalPertanyaanLabel">What do you wanna ask?</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                <form id="form-modal">
                  {% csrf_token %}
                  {{ form_pertanyaan|crispy }}
                
                <div class="container text-center mt-3">
                  <button type="button" class="btn btn-success" data-bs-dismiss="#modalPertanyaan" onclick="submitPertanyaan()" id="submit-ques">Submit Question</button>
                  
                </div>
                </form>
                
                </div>
              </div>
            </div>
          </div>

        {% else %}
        <div class="move-page" style="padding:50px;">
          <center><button type="button" class="btn btn-success btn-lg">
            <a href="{% url 'general_user:login' %}" style="text-decoration: none; color: white;">
            Login untuk mengirim pertanyaan!
          </a></button></center></div>
  
        {% endif %}
      </div>
    </div>
</div>

{% endblock content %}