{% extends 'base_nav_user.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>LIST PERTANYAAN</title>

<link rel="stylesheet" href="{% static 'faq.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script type="text/javascript" src="{% static 'faq.js' %}"></script>

{% endblock meta %}


{% block content %}

<div class="container-fluid" style="position:relative">
  <div class="d-flex flex-column align-items-center vh-100">

    <div class="container" id="header" style="padding:50px">
      <center><div class="card judul-page">
        <div class="card-body">
          <h2 class="text-center" style="padding-inline:10px; padding-block:2px;">List Pertanyaan</h2>
        </div>
      </div></center>

      <!-- MODAL -->
      <div class="modal fade" id="modalJawaban" tabindex="-1" aria-labelledby="modalJawabanLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="modalJawabanLabel"></h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
        
            <form id="form-jawaban">
              {% csrf_token %}
              {{ form_jawaban|crispy }}
            
            
            <div class="container text-center mt-3">
              <button type="button" class="btn btn-success" data-bs-dismiss="#modalJawaban" onclick="submitAnswer(this.id)" id="submit-ans">Submit Answer</button>
            
            </div>
            </form>
            
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center" style="padding:50px">
        <div class="row row-cols-4 g-4" id="display-pertanyaan">
        </div>
      </div>

      <div class="move-page" style="padding:50px;">
        <center><button type="button" class="btn btn-success btn-lg">
          <a href="{% url 'customer_service:show_faq' %}" style="text-decoration: none; color: white;">
        Kembali ke halaman FAQ
      </a></button></center>

</div>

{% endblock content %}
