{% extends 'base_nav_user.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>LIST PERTANYAAN</title>

<link rel="stylesheet" href="{% static 'faq.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script type="text/javascript" src="{% static 'faq.js' %}"></script> -->

{% endblock meta %}


{% block content %}
<!-- {% load crispy_forms_tags %} -->

<div class="container-fluid" style="position:relative">
  <div class="d-flex flex-column align-items-center vh-100">
    <h1 class="text-center" style="padding:50px">List Pertanyaan Baru</h1>

      <!-- {% if request.user.is_authenticated and request.user.is_staff %} -->
      <div class="container text-center">
        <div class="row row-cols-4 g-4" id="display-pertanyaan">
          <!-- {% for pertanyaan in list_pertanyaan %}
          <div class="col">
            <div class="card">
              <div class="card-header h5" style="vertical-align: middle;">
                <strong>{{pertanyaan}}</strong></div>
              <div class="card-body">
              
              <form id="${pertanyaan.pk}">
                {% csrf_token %}
                {{ form_jawaban|crispy }}
                

              <div class="container text-center mt-3">
                  <button type="button" class="btn btn-primary" onclick = 'submitAnswer(pertanyaan.pk)' id="submit-ans">Submit Answer</button>
              </div>
              </form>
              </div>
            </div>
            <br>
          </div>
          {% endfor %} -->
        </div>
      </div>
      <!-- {% endif %} -->

      <div class="move-page" style="padding:50px;">
        <center><button type="button" class="btn btn-primary btn-lg">
          <a href="{% url 'customer_service:show_faq' %}" style="text-decoration: none; color: white;">
        Kembali ke halaman FAQ
      </a></button></center>

    <!-- </div> -->
</div>

<script>
  // Script untuk FORM PERTANYAAN 
  // $(document).ready(function(){
  //     $("#submitques").click(function(){
  function submitPertanyaan() {
        // e.preventDefault();
        
        $.ajax({
            url: "{% url 'customer_service:add_pertanyaan' %}",
            type: 'POST',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                'kategori': $('#kategori').val(),
                'teks_pertanyaan': $('#teks_pertanyaan').val() }, 
            // success: function(res) {
            //   $('#form-modal')[0].reset();
            //   $("#modalPertanyaan").modal('hide');
            //   displayPertanyaan() }
            // success: alert("Pertanyaan berhasil dikirim!")
            success: function(res){
              // document.getElementById("display-pertanyaan").innerHTML = ""

              // ini udh ga guna sih, hapus hrsnya aman
              var html = `<div class="col">
                          <div class="card">
                            <div class="card-header h5" style="vertical-align: middle;">
                              <strong> ${res.fields.teks_pertanyaan} </strong></div>
                            <div class="card-body">
                            <form id="${res.pk}">
                              {% csrf_token %}
                              {{ form_jawaban|crispy }}
                            <div class="container text-center mt-3">
                                <button type="button" class="btn btn-primary" onclick = 'submitAnswer("${res.pk}")' id="submit-ans">Submit Answer</button>
                            </div>
                            </form>
                          </div>
                        </div>
                        <br>
                      </div>`

              $('#display-pertanyaan').append(html)
              // alert("Pertanyaan berhasil dikirim!")
              // displayPertanyaan()
            // //  document.getElementById("display-pertanyaan").innerHTML = html
                
            }
        });
        $('#form-modal')[0].reset();
        $("#modalPertanyaan").modal('hide');
        
  //     });
  // });
      }
  

  // Script untuk FORM JAWABAN
  // $(document).ready(function(){
  function submitAnswer(id) {
      // $("#submit-ans").click(function(){
        // e.preventDefault();
        alert("ketrigger cuyy")
        $.ajax({
          url: "add-jawaban/"+id,
          type: 'POST',
          data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                'jawaban': $('#jawaban').val() }, 
          success: function(res) {
            
            var html = `<div class="col">
                          <div class="card">
                            <div class="card-header h5" style="vertical-align: middle;">
                              <strong>${res.fields.pertanyaan.fields.teks_pertanyaan}</strong></div>
                              <div class="card-body">
                                <p class="card-text">${res.fields.jawaban}</p>
                              </div>
                            </div>
                          <br>
                        </div>`
                              
            $('#display-faq').append(html)

            displayPertanyaan()

            alert("berhasil cuyy")
    
          }
        }); 
        
        $('#'+id)[0].reset();
      
  }

  // Script untuk MENAMPILKAN FAQ
  function displayFAQ() {
    $.ajax({
        url: "{% url 'customer_service:jsonFAQ' %}",
        type: 'GET',
        dataType: 'json',
        success: function(res) {
          var htmlString = ""
          // $.each(res, function(key, value) {
          //   htmlString += "<div class=\"col\">" + 
          //                   "<div class=\"card\">" +
          //                     "<div class=\"card-header h5\" style=\"vertical-align: middle\">" +
          //                       "<strong>" + res[key].fields.pertanyaan[1] + "</strong></div>" +
          //                       "<div class=\"card-body\">" +
          //                         "<p class=\"card-text\">" + res[key].fields.jawaban + "</p>" +
          //                      "</div>" +
          //                     "</div>" +
          //                   "<br>" +
          //                 "</div>"
          // })
          res.forEach((faq) => {
            // htmlString += `<div class="col">
            //                 <div class="card">
            //                   <div class="card-header h5" style="vertical-align: middle;">
            //                     <strong> ${faq.fields.pertanyaan[1]} </strong></div>
            //                     <div class="card-body">
            //                       <p class="card-text">${faq.fields.jawaban}</p>
            //                     </div>
            //                   </div>
            //                 <br>
            //               </div>`

            if (faq.fields.pertanyaan[0] == "UMUM") {
              htmlString += `<button class="accordion"><strong>${faq.fields.pertanyaan[1]}</strong></button>
                                <div class="panel">
                                    <h6 style="margin-block: 18px;">${faq.fields.jawaban}</h6>
                                </div>
                            <span class="break"></span>`
            } else if (faq.fields.pertanyaan[0] == "LELANG") {
              htmlString += `<button class="accordion" style="background-color:rgb(255, 174, 174) ;">
                              <strong>${faq.fields.pertanyaan[1]}</strong></button>
                                <div class="panel">
                                    <h6 style="margin-block: 18px;">${faq.fields.jawaban}</h6>
                                </div>
                            <span class="break"></span>`
            } else {
              htmlString += `<button class="accordion" style="background-color:rgb(221, 189, 251)">
                              <strong>${faq.fields.pertanyaan[1]}</strong></button>
                                <div class="panel">
                                    <h6 style="margin-block: 18px;">${faq.fields.jawaban}</h6>
                                </div>
                            <span class="break"></span>`
            }

          }); 

          $('#display-faq').html(htmlString)
        }
    });
  }

  // Script untuk MENAMPILKAN PERTANYAAN  
  function displayPertanyaan() {
    alert("displaypert")
    $.ajax({
        url: "{% url 'customer_service:jsonPertanyaan' %}",
        type: 'GET',
        dataType: 'json',
        success: function(res) {
          var htmlString = ""
          res.forEach((pertanyaan) => {
            htmlString += `<div class="col">
                          <div class="card">
                            <div class="card-body">
                            <h5 class="card-title" style="padding:10px;">${pertanyaan.fields.teks_pertanyaan}</h5>
                            <div class="btn-toolbar w-100 container g-4 mt-3" style="padding:5px">
                                <button type="button" class="btn btn-primary" id="btn-answer">
                                  <a href="/customer_service/pertanyaan-masuk/jawab/${pertanyaan.pk}" style="text-decoration: none; color: white;">
                                  Answer</a></button>
                                <button type="button" class="btn btn-danger" onclick='deletePertanyaan("${pertanyaan.pk}")' id="btn-delete">Delete</button>
                            </div>
                          </div>
                        </div>
                        <br>
                      </div>`
          }); 
          $('#display-pertanyaan').html(htmlString)
        }
    });
  }

  function deletePertanyaan(id){ 
        $.ajax({
            url: "delete/"+id,
            type: "DELETE",
            success: function(res){
                // $("#col-" + id).remove();
                alert("berhasil dihapus")
            }
        });
    }

  // Displaying for the first time
  $(document).ready(displayPertanyaan())
  $(document).ready(displayFAQ())

// </script>


{% endblock content %}

<!-- htmlString += `<div class="col">
  <div class="card">
    <div class="card-header h5" style="vertical-align: middle;">
      <strong> ${pertanyaan.fields.teks_pertanyaan} </strong></div>
    <div class="card-body">
    <div class="container col-2 mt-3">
        <button type="button" class="btn btn-primary" onclick = 'submitAnswer("${pertanyaan.pk}")' id="submit-ans">Answer</button>
        <button type="button" class="btn btn-primary" onclick = 'submitAnswer("${pertanyaan.pk}")' id="submit-ans">Delete</button>
    </div>
  </div>
</div>
<br>
</div>` -->