{% extends 'base_nav_user.html' %}

{% block content %}
<head>
    {% load static %}
    <title>Testimoni</title>
    
    <link rel="stylesheet" href="{% static 'testimoni/testimoni.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    {% block meta %}
    {% endblock meta %}
</head>

<body>
    <h1>TES INI TESTIMONI</h1>
</body>


<script type="text/javascript">
    // Function untuk mengambil data berbentuk json secara asinkronus
    $(document).ready(function(){
        $.getJSON("json/", function(data){
        $.each(data, function(i, testimoni) {
            $("#testimoni_cards").append('<div class="col-12 col-md-6 col-lg-4">' +
                                    '<div class="card" style="width: 18rem;">' +
                                        '<div class="card-body">' +
                                        '<h5 id="title" class="card-title" style="font-weight: bold">' + "ntah ini apaan" + '</h5>' +
                                        '<h6 id="date" class="card-subtitle mb-2 text-muted">' + testimoni.fields.nama + '</h6>' +
                                        '<p id="description" class="card-text">' + testimoni.fields.pesan + '</p>' +
                                        '</div>' +
                                    '</div>'+
                                    '</div>');
        });
        });
    });


</script>
{% endblock content %}
