/* all */


/* buat-galang.html */

.form-galang {
    width: 70%;
    padding: 2% 0 6%;
    margin: auto;
}

.form-bank {
    width: 70%;
    padding: 2% 0 3%;
    margin: auto;
}


.container-form {
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    padding: 4%;
    border-radius: 10px;
}

#btn-buat {
    float: right;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #fcc46c;
}

/* galang-dana.html */

#container-buat {
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#container-galang {
    width: 50%;
    padding: 2% 0 2%;
    margin: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
 }
  
.card {
     justify-content: center;
     flex: 0 0 20% ;
     margin: 2%;
}
 
#btn-detail {
    background-color: #fcc46c;
}

#img-detail {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

/* detail-galang.html */

#container-detail {
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    padding: 1%;
    border-radius: 10px;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

#container-data {
    width: 70%;
    padding: 2% 0 2%;
    margin: auto;
}

#container-gambar {
    width: 50%;
    margin: auto;
    justify-content: center;
}

#judul-galang {
    text-align: center;
}

#btn-komen {
    width: 50%;

}
